body {
    background-image: url("background.webp");
    background-repeat: no-repeat;
}

p {
    font-family: "Times New Roman", cursive;
    font-size: small;
}

#myp {
    color: lightcoral;
    font-weight: bold;
    font-family: "Times New Roman";
}

#mydiv {
    color: lightcoral;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
